<% include header %>
<% include menu %>

<div id="content">
Submitted Data
    <table>
        <tr><td>Name: </td>
            <td><%= name %></td>
        </tr>
        <tr><td>Street: </td>
            <td><%= street %></td>
        </tr>
        <tr><td>City: </td>
            <td><%= city %></td>
        </tr>
        <tr><td>State: </td>
            <td><%= state %></td>
        </tr>
        <tr><td>Zip: </td>
            <td><%= zip %></td>
        </tr>
    </table>
</div>

<% include resource %>
<% include footer %>